.page-content__nav {	
	padding-top: 40px;
}

.page-content__main {	
	padding-top: 30px;
}

.page-content__filters {
	margin-bottom: 20px;
}

.page-content__card {
	margin-bottom: 30px;

	@media (min-width: $desktop-width) {
		margin-bottom: 18px;
	}
}

.page-content__card:last-child {
	margin-bottom: 0;
}

.page-content__loader {	
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.page-content__aside {	
	padding-top: 90px;
}